{% extends "mt_base.html" %}

{% block content %}

<div class="row">
  <div class="col">
    <h1>Posts</h1>
    <p>
      Posts here are filtered based on the tenants that
      {{ current_user.first_name.title() }} 
      {{ current_user.last_name.title() }} is part of.
      How cool is that?!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <th>Post</th>
        <th>Author</th>
        <th>Tenant</th>
      </thead>
      <tbody>
        {% for post in posts  %}
          <tr>
            <td><a href="{{ url_for('.post', post_id=post.id) }}">{{ post.name }}</a></td>
            <td>{{ post.author.username }}</td>
            <td>{{ post.tenant.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
