<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ url_for('Index.index') }}">MyOrg</a>
  </div>

  <ul class="nav navbar-nav">
    <li><a href="{{ url_for('FilteredPostView.posts') }}">Posts</a></li>
  </ul>


  <ul class="nav navbar-nav navbar-right">
  	{% if not current_user.is_authenticated and current_user.is_anonymous %}
    	<li><a href="{{ url_for('AuthDBView.login') }}">Login</a></li>
    {% else %}
    	<li><a href="{{ url_for('AuthDBView.logout') }}">Logout</a></li>
    {% endif %}
  </ul>
</nav>